{% extends "base.html" %}

{% block content %}
<div class="card">
    <h2>Impressum</h2>
    <p class="muted">Legal Disclosure</p>
    
    <div style="margin-top: 16px;">
        <strong>Information according to § 5 ECG & § 25 MedienG:</strong><br>
        Felix Resch<br>
        Zissingdorf 16,<br>
        4212 Neumarkt,<br>
        Austria
    </div>
    
    <div style="margin-top: 16px;">
        <strong>Contact:</strong><br>
        Email: felixresch0605@gmail.com<br>
        Phone: +43 677 62946911<br>
    </div>
    
    <div style="margin-top: 16px;">
        <strong>Disclaimer:</strong><br>
        The contents of our pages have been created with the utmost care. However, we cannot guarantee the contents' accuracy, completeness, or topicality.
    </div>
</div>
{% endblock %}
